<nav className="nav">
      <div className="container">
        <div className="logo">
          <h3>Edyta Radomska</h3>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul className="navlinks">
            <li>
              <Link to="/">About Me</Link>
            </li>
            <li>
              <Link to="/portfolio">Portfolio</Link>
            </li>
            <li>
              <Link to="/resume">Resume</Link>
            </li>
            <li>
              <Link to="/contact">Contact Me</Link>
            </li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>